

//Colours
$backgroundColour: #FE6248;
$cardBackgroundColour: #fff;
$cardMediaBackgroundColour: #F6F6F6;
$normalTextColour: #000;
$lightTextColour: rgb(88, 88, 88);
$priceTextColour: #27ae60;
$sizeGuideBorderColour:#c0c0c4;
$sizeGuideDisabledColour: #dcdde1;
$disabledTextColour: rgba(88, 88, 88, 0.568);

//Font Attributes
$fontFamily: 'Roboto', sans-serif;
$headingFontSize: 2em;
$subHeadingFontSize: 1em;
$normalTextFontSize: 0.8em;

//Box Alignment
$cardColumnGap: 40px;
$cardInfoTopPadding: 60px;
$cardInfoRightPadding: 40px;
$priceOffsetLeft: 80px;
$priceOffsetBottom: 105px;