
@import url('https://fonts.googleapis.com/css?family=Roboto:700');

@import 'variables';
@import 'card';
@import 'mediaqueries';


html, body
{
  height: 100%;
  margin: 0;

  font-family: $fontFamily
}

.content
{
  display: grid;

  align-items: center;
  justify-items: center;

  min-height: 100%;

  background: $backgroundColour;
}